html{
height: 100%;
width: 100%;
}


::selection {color:#FFFFFF; background:transparent;}
::-moz-selection {color:#FFFFFF; background:transparent;}


*{
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
}
  body{
    background-color: #060f3c;
    background-image: url(gamearcade1111.png);

    }
.wrap{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
}
header{
    width: 1000px;
    font-size: 0;
}
canvas{
    display: none;
    border-style: solid;
    border-width: 30px;
    border-color: #060f3c;
}  
canvas:focus{
    outline: none;
}

  h1{
     display: inline-block;
     width: 200px;
     font-size: 55px;
     color: #fcff51;
     -webkit-animation: logo-ani 1000ms linear infinite;
     animation: logo-ani 1000ms linear infinite;
     padding-top: 0px;   
    }
.score{
     display: inline-block;
     width: 300px;
     font-size: 45px;
     color: #fcff51;
     text-align: right;
    }
.score_value{
    font-size: inherit;
}

#gameover h2, #setting h2, #setting h2, #devs h2, #refs h2 {
    font-size: 55px;
}

#gameover a, #setting a, #menu a, #devs a, #refs a{
    display: block;
}

#gameover a, #setting a, #devs a, #refs a{
  font-size: 40px;
}

#gameover a, #setting a:hover, #menu a:hover, #devs a:hover, #refs a:hover{
    cursor: pointer;
}

#gameover a:hover::before, #setting a:hover::before, #menu a:hover::before, #devs a:hover::before, #refs a:hover::before{
    content: ">";
    margin-right: 10px;
}

#menu{
    display: block;
    width: 1000px;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #FFF;
}


#menu p{
  font-size: 30px;
  padding-top: 10px;
}

#menu a{
    font-size: 45px;
    margin-bottom: 30px;
}

@-webkit-keyframes logo-ani{
   50%{-webkit-transform: scale(1.3,1.3);}
  100%{-webkit-transform: scale(1.0,1.0);}
}

@keyframes logo-ani{
   50%{transform: scale(1.3,1.3);}
  100%{transform: scale(1.0,1.0);}
}


#gameover{
    display: none;
    width: 1000px;
    padding-top: 95px;
    padding-bottom: 95px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    color: #FFF;
}

#gameover p{
    margin-top: 25px;
    font-size: 25px;
}

#setting{
    display: none;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 85px;
    padding-bottom: 85px;
    font-size: 30px;
    color: #FFF;
    text-align: center;
}

#setting h2{
    margin-bottom: 15px;
}

#setting p{
    margin-top: 10px;
}

#setting input{
    display:none;
}

#setting label{
    cursor: pointer;
}

#setting input:checked + label{
    background-color: #FFF;
    color: #060f3c;
}

#devs{
    display: none;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 85px;
    padding-bottom: 85px;
    font-size: 30px;
    color: #FFF;
    text-align: center;
}

#devs h2{
    margin-bottom: 10px;
    padding:0;
}

#devs p{
    margin-top: 10px;
}

#devs a{
  font-size:30px;
  padding-top: 40px;
  padding-left: 50px; 
  padding-right: 50px;
}

#devs input{
    display:none;
}

#devs label{
    cursor: pointer;
}

#devs input:checked + label{
    background-color: #FFF;
    color: #060f3c;
}

#refs {
    display: none;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 85px;
    padding-bottom: 85px;
    font-size: 30px;
    color: #FFF;
    text-align: center;
}

#refs p{
  margin-top: 10px;
  font-size: 30px;
}